body {
  padding: 0;
  margin: 1em;
  overflow: hidden;
}
.content {
  display: flex;
  height: 100%;
}
.worldmap {
  flex: 1 1 auto;
  height: 100%;
}

.countries {
  border-right: 1px solid black;
  padding-right: 1em;
  overflow: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.countries .country {
  margin: 2px 0 2px 0;
}

